<section class="bg-secondary pt-12 lg:pt-24 bg-opacity-15 px-[25px]">
    <div
        class="flex flex-col justify-center items-center max-w-[1300px] mx-auto py-12 gap-8 text-center"
    >
        <h2
            class="text-5xl md:text-7xl relative font-light italic text-primary before:absolute before:content-[''] before:w-20 before:h-[1px] before:bg-primary before:-left-24 before:top-1/2 before:transform after:absolute after:content-[''] after:w-20 after:h-[1px] after:bg-primary after:-right-24 after:top-1/2 after:transform"
        >
            Itinerario
        </h2>
        <p
            class="text-lg md:text-2xl text-gray-700 md:max-w-3xl font-light
mx-auto"
        >
            Estamos encantados de que nos acompañes en este día tan especial.<br
                class="hidden md:flex"
            /> A continuación, te compartimos el itinerario con los momentos más
            importantes que viviremos juntos. ¡No te pierdas ninguno!
        </p>
    </div>
    <section class="timeline pb-24 max-w-[800px] mx-auto px-[20px]">
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/01.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">13:00</p>
                <h3 class="timeline-title">Recepción</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/02.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">13:30</p>
                <h3 class="timeline-title">Ceremonia religiosa</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/03.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">14:30</p>
                <h3 class="timeline-title">
                    Fotos, entrega de regalos y barra de snacks
                </h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/04.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">15:00</p>
                <h3 class="timeline-title">Recepción del salón</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/05.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">15:30</p>
                <h3 class="timeline-title">Entrada de los novios</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/06.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">15:40</p>
                <h3 class="timeline-title">Brindis y pastel</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/07.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">16:00</p>
                <h3 class="timeline-title">Banquete</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/08.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">16:45</p>
                <h3 class="timeline-title">Primer baile de los novios</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/09.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">17:00</p>
                <h3 class="timeline-title">Grupo musical</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/10.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">20:00</p>
                <h3 class="timeline-title">Tornaboda</h3>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="/img/icons/11.svg" alt="icon" />
            </div>
            <div class="timeline-content">
                <p class="timeline-time">21:30</p>
                <h3 class="timeline-title">Despedida</h3>
            </div>
        </div>
    </section>
    <style>
        .timeline {
            position: relative;
            padding-bottom: 50px;
            margin-top: 20px;
        }

        .timeline::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            background-color: #9f217e;
            transform: translateX(-50%);
        }

        .timeline-item {
            position: relative;
            margin-bottom: 50px;
            width: 50%;
            padding-left: 40px;
            padding-right: 40px;
        }

        .timeline-item:nth-child(odd) {
            left: 0;
            text-align: right;
        }

        .timeline-item:nth-child(even) {
            left: 50%;
            text-align: left;
        }

        .timeline-item:nth-child(odd)::after {
            right: -50%;
        }

        .timeline-item:nth-child(even)::after {
            left: -50%;
        }

        .timeline-item:hover::after {
            transform: scale(1.05);
        }

        .timeline-icon {
            position: absolute;
            top: 0;
            width: 90px;
            height: 90px;
            background-color: #fff;
            border: 2px solid #9f217e;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            padding: 5px;
            transition: all 0.3s ease;
        }

        .timeline-item:nth-child(odd) .timeline-icon {
            right: -45px;
        }

        .timeline-item:nth-child(even) .timeline-icon {
            left: -45px;
        }

        .timeline-icon img {
            width: 50px;
            height: 50px;
        }

        .timeline-content {
            padding: 15px 20px;
            font-weight: 300;
            line-height: 1.2;
            border-radius: 12px;
            margin: 0 20px;
            letter-spacing: 0.4px;
            z-index: 1;
            min-width: 190px;
        }

        .timeline-time {
            font-size: 32px;
            color: #9f217e;
        }

        .timeline-title {
            margin-top: 5px;
            font-size: 26px;
            font-weight: 300;
            font-family: "EditorsNote", serif;
            color: #333;
        }

        @media (max-width: 768px) {
            .timeline::before {
                left: 20px;
            }

            .timeline-item {
                width: 100%;
                padding-left: 60px;
            }

            .timeline-item:nth-child(odd),
            .timeline-item:nth-child(even) {
                left: 0;
                text-align: left;
            }

            .timeline-item::after {
                left: 0;
                width: calc(100% - 60px);
            }

            .timeline-icon {
                left: -20px !important;
            }
        }
    </style>
</section>
